<ActionBar>
    <Label text="Home"></Label>
</ActionBar>

<StackLayout>
    <StackLayout>
        <Label text="Current Status: "></Label>
        <Label [text]="status"></Label>
    </StackLayout>
    <StackLayout>
        <Label text=" "></Label>
    </StackLayout>
    <FlexBoxLayout>
        <Label text="Ip"></Label>
        <TextField hint="ip" [(ngModel)]="ip"></TextField>
        <Label text=":"></Label>
        <TextField hint="Port" [(ngModel)]="port"></TextField>
    </FlexBoxLayout>
    <StackLayout>
        <Label text="Message"></Label>
        <TextField hint="Message" type="" [(ngModel)]="message"></TextField>
    </StackLayout>
    <Button text="{{ 'Receive once at ' + port }}" (tap)="receiveOnce()"></Button>
    <Button text="{{ 'Start Receiving at ' + port }}" (tap)="startReceiving()"></Button>
    <Button text="{{ 'Send Broadcast to 255.255.255.255:' + port }}" (tap)="sendBroadcast()"></Button>
    <Button text="{{ 'Send Unicast to ' + ip + ':' + port }}" (tap)="sendUnicast()"></Button>
    <StackLayout>
        <Label text="Received"></Label>
        <TextField [(ngModel)]="receivedMessage"></TextField>
    </StackLayout>
</StackLayout>